@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
  <h1 class="display-4">Book List With Razor Pages</h1>
  <p class="lead">This is a simple ASP.NET Core application built with Razor pages.</p>
  <hr class="my-4">
  <p>The application performs basic CRUD operations using Entity Framework Core</p>
  <a class="btn btn-primary btn-lg" href="/BookList" role="button">Goto Books Page</a>
</div>
